* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 40px 20px;
}

.facebook-logo {
    text-align: center;
    margin-bottom: 30px;
}

img {
    max-width: 300px;
    height: auto;
}

.facebook-logo h2 {
    font-size: 1.2rem;
    margin-top: 10px;
}

.fb-form {
background-color: #fff;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
padding: 30px;
border-radius: 8px;
width: 100%;
max-width: 400px;
}

.fb-form input {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(185, 185, 185); 
    margin: 10px 0;
    border-radius: 6px;
    font-size: 1rem;
}

.fb-form button {
    width: 100%;
    padding: 12px;
    background-color: rgb(78, 78, 245);
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    font-weight: 700;
    cursor: pointer;
}

.forget-pass {
  text-align: center;
  margin: 15px 0;
}

.divider {
  height: 1px;
  background-color: #cecece;
  margin: 20px 0;
}

.create-account-btn button {
display: block;
background-color: #30921c;
width: 60%;
margin: 0 auto;
}

.create-page {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9rem;
}

.create-page a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2rem;
}
