form {
    display: block;
    /* justify-content: center;
    align-items: center;
    place-items: center; */
}
body {
    font-family: sans-serif;
}
label{
    display: flex;
    align-items: center;
    font: 1em sans-serif;
    
}
.input-style {
    width: 100%;
}
h1 {
    text-align: center;
}
/* p {
    text-align: center;
} */
/* .form-group{
    align-items: center;
} */

